<% if !logged? %>
  <%= controller.redirect_to root_path %>
<% else %>

  <div  class="col-md-9 col-lg-9 right_col">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Pending requests -->
    <div class="row page-title">
      <div class="title_left">
        <div class="x_panel panel-style">
          <h4 style="margin: 9px 0"><strong>Pending requests </strong></h4> 
        </div>
      </div>
    </div>
    <!-- /Pending requests -->
    <div class="row">
      <% user_id = user_id(session[:user_name]) %>
      <% friendships = get_friendships(user_id, 'pending') %>
      <% if !friendships.empty? %>
        <% friendships.each do |friendship| %>
          <% user = find_user(user_id, friendship) %>
          <!-- User info-->
          <div class="note col-xs-12 col-sm-4 col-md-4 card-style">
            <!-- User icon-->
            <div class="col-lg-2 col-md-2 col-xs-12">
              <div class="row" align="center">
                <i class="fa fa-user user-icon" ></i>
              </div>
            </div>
            <!-- /User icon-->
            <!-- User name-->
            <div class="col-lg-7 col-md-7">
              <div class="note-title col-xs-12"> 
                <%= user.user_name%>
              </div>
              <div class="note-text col-xs-12">
                <%= user.email %>
              </div>
            </div>
            <!-- /User name-->
            <!-- Delete button -->
            <div class="col-md-3 col-lg-3" style="padding-top: 2rem">
              <div class="row center">
                <%= link_to '<i class="fa fa-check"></i>'.html_safe, user_friendship_path(:user_id => friendship.user_id, :id => friendship.id, :status => 'confirmed'), :method => :put, class: 'btn btn-success' %>
                <%= link_to '<i class="fa fa-close"></i>'.html_safe, user_friendship_path(:user_id => friendship.user_id, :id => friendship.id), :method => :delete, class: 'btn btn-danger' %>
              </div>
            </div>
            <!-- /Delete button -->
          </div>
        <!-- User info-->
        <% end %>
      <% else %>
        <!-- User info-->
          <div class="note col-xs-12 col-sm-4 col-md-4" style="background-color: white">
            <!-- User name-->
            <div class="row">
              <div class="col-xs-12" style="height: 50px; justify-content: center; display: flex; padding-top: 10px"> 
                <i>Dont have pending requests </i>
              </div>
            </div>
            <!-- /User name-->
          </div>
        <!-- User info-->
      <% end %>
      
    </div>
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <div class="row page-title">
        <div class="title_left">
          <div class="x_panel panel-style">
            <h4 style="margin: 9px 0"><strong>Your Friends </strong></h4> 
          </div>
        </div>
      </div>
      <div class="row">
        <% friendships = get_friendships(user_id, 'confirmed') %>
          <% if !friendships.empty? %>
            <% friendships.each do |friendship| %>
             <% user = find_user(user_id, friendship) %>
                <!-- User info-->
                <div class="note col-xs-12 col-sm-6 col-md-3 card-style" >
                  <!-- User icon-->
                  <div class="col-lg-2 col-md-2 col-xs-12">
                    <div class="row" align="center">
                      <i class="fa fa-user user-icon" ></i>
                    </div>
                  </div>
                  <!-- /User icon-->
                  <!-- User name-->
                  <div class="col-lg-8 col-md-8">
                    <div class="note-title col-xs-12"> 
                      <%= user.user_name%>
                    </div>
                    <div class="note-text col-xs-12">
                      <%= user.email %>
                    </div>
                  </div>
                  <!-- /User name-->
                  <!-- Delete button -->
                  <div class="col-md-2 col-lg-2">
                    <div class="row center" style="padding-top: 2rem">
                      <%= link_to '<i class="fa fa-trash"></i>'.html_safe, user_friendship_path(:user_id => friendship.user_id, :id => friendship.id), :method => :delete, class: 'btn btn-danger'%>
                    </div>
                  </div>
                  <!-- /Delete button -->
                </div>
                <!-- User info-->
            <% end %>    
          <% else %>
            <!-- User info-->
            <div class="note col-xs-12 col-sm-4 col-md-4" style="background-color: white">
              <!-- User name-->
              <div class="row" align="center">
                <div class="col-xs-12" style="height: 50px; justify-content: center; display: flex; padding-top: 10px"> 
                  <i>Dont have any friend </i>
                </div>
              </div>
              <!-- /User name-->
            </div>
            <!-- User info-->
          <% end %>
      </div>
      <!-- Add new friends -->
      <div class="row page-title">
        <div class="title_left">
          <div class="x_panel panel-style">
            <h4 style="margin: 9px 0"><strong>Add new friends </strong></h4> 
          </div>
        </div>
      </div>
      <div class="row">
        <%  get_new_friendships(user_id).each do |user| %>
          <div class="note col-xs-12 col-sm-4 col-md-4 card-style">
            <!-- User icon-->
            <div class="col-md-2 col-lg-2" align="center">
              <div class="row" align="center">
                <span><i class="fa fa-user user-icon" ></i></span>
              </div>
            </div>
            <!-- /User icon-->    
            <!-- User info-->      
            <div class="col-md-7 col-lg-7">
              <div class="note-title col-xs-12"> 
                <%= user.user_name %>
              </div>
              <div class="note-text col-xs-12">
                <%= user.email %>
              </div>
            </div>
            <!-- /User info-->
            <!-- Add button user -->
            <div class="col-lg-3 col-md-3 col-xs-12" style="padding-top: 2rem">
                <% user_id = user_id(session[:user_name])%>
                <% status = "pending" %>
                <%= link_to '<i class="fa fa-user-plus"></i>'.html_safe, user_friendships_path(:user_id => user_id, :friend_id => user.id, :status => status), :method => :post ,class: 'btn btn-default' %>  
            </div>    
            <!-- /Add button user -->
          </div>
        <% end %>  
      </div>
    </div>
  </div>
<% end %>