<% if !logged? %>
  <%= controller.redirect_to root_path %>
<% end %>
<body>
  <header class="container-fluid">
    <div class="center">
      <h1>Users</h1>
      <%= link_to 'Log Out', '/logout' , class: 'btn btn-primary btn-lg logout' %>
    </div>
  </header>

  <div id="main-content" class="container">

    <div class="row">
      <% @user.each do |user| %>
        <div class="note col-xs-12 col-sm-6 col-md-3">
          <div class="note-title col-xs-12">
            <%= user.user_name %>
          </div>
          <div class="note-text col-xs-12">
            <%= user.email %>
          </div>
          <div class="note-actions col-xs-12">
            <div class="col-xs-4 center">
              <%= link_to 'Notes', user_notes_url(user), class: 'btn btn-default' %>
            </div>
            <div class="col-xs-4 center">
              <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default' %>
            </div>
            <div class="col-xs-4 center">
              <%= link_to 'Delete', user_path(user), class: 'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</body>
