<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" %>
<header >
  <div class="row">
    <div class="col-md-9 center">
     <h1>Title View</h1>
    </div>
    <div class="col-md-3">
      <% userId = user_id(session[:user_name])%>
      <% userName = session[:user_name]%>
      <div class="dropdown">
          <i class="dropdown-toggle" data-toggle="dropdown" style="font-size: 18px; cursor: pointer;" ><%= userName %>
          <span class="caret"></span></i>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit profile', edit_user_path(userId) %></li>
            <li><%= link_to 'Log Out', '/logout' %></li>
          </ul>
      </div>
    </div>
  </div>
	

</header>

