<% if !logged? %>
<%= controller.redirect_to root_path %>
<% else %>
<div class="col-md-9 col-lg-9 right_col">
   <!-- Row with title -->
   <div class="row page-title">
     <div class="title_left">
       <div class="x_panel panel-style">
         <h2 style="margin: 9px 0"><%= @note_collection.title %> / Edit </h2> 
       </div>
     </div>
   </div>
   <!-- /Row with title -->

   <div class="row center">
     <%= form_with(scope: :note_collection, model: [ :user, @note_collection ], class: 'col-xs-6', local: true) do |form| %>
       <% if @note_collection.errors.any? %>
         <div id="error_explanation" class="alert alert-danger">
           <h2>
             <%= pluralize(@note.errors.count, "error") %> prohibited
             this note from being saved:
           </h2>
           <ul>
             <% @note.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
       <% end %>

       <p>
         <%= form.label :title %><br>
         <%= form.text_field :title, class: 'col-xs-9' %>
         <%= form.submit %>
       </p>


 <% end %>
   </div>

   <!-- Allow to edit users -->
    <div class="page-content inset">
      <div class="row page-title">
        <div class="title_left">
          <div class="x_panel panel-style">
            <h4 style="margin: 9px 0">Added Notes </h4>
          </div>
        </div>
      </div>
      <div class="row">
          <% %>
          <!-- User info-->
          <div class="note col-xs-12 col-sm-6 col-md-3">
            <!-- User icon-->
            <div class="col-lg-2 col-md-2 col-xs-12">
              <div class="row" align="center">
                <i class="fa fa-user user-icon" ></i>
              </div>
            </div>
            <!-- /User icon-->
            <!-- User name-->
            <div class="col-lg-8 col-md-8">
              <div class="note-title col-xs-12">
                
              </div>
              <div class="note-text col-xs-12">
                
              </div>
            </div>
            <!-- /User name-->
            <!-- Delete button -->
            <div class="col-md-2 col-lg-2">
              <div class="row center" style="padding-top: 2rem">
 
              </div>
            </div>
            <!-- /Delete button -->
          </div>
          <!-- User info-->
        
      </div>
    </div>


    <!-- Add new user to share -->
    <div class="page-content inset">
      <div class="row page-title">
        <div class="title_left">
          <div class="x_panel panel-style">
            <h4 style="margin: 9px 0">All notes </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <% user_id = get_user_id(session[:user_name]) %>
        <% get_notes(user_id).each do |note|  %>
          <div class="note col-xs-12 col-sm-6 col-md-3" style="height: 200px">
              <div class="row">
                <% if note.image.url %>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div >
                      <span>
                        <%= image_tag(note.image.url, alt: 'Image', class: 'note-image') if note.image? %>
                      </span>
                    </div>
                  </div>
                <% end %>  
                <div class="note-title col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-left: 30px">
                  <%= note.title %>
                </div>
              </div>
              <div class="row" style="height: 40%">
                <div class="note-text col-xs-12 col-lg-12 col-md-12">
                  <%= note.text %>
                </div>
              </div>
              <div class="row" style="padding-left:25px; padding-right: 25px ">
                <div class="col-xs-12" align="right">
                  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, user_add_note_to_path({id: @note_collection.id, user_id: user_id, note_id: note.id}), :method => :post, class: 'btn btn-default'%>
                </div>           
                
              </div>
            </div>
        <% end %>
      </div>
    </div>
 <% end %>
