<% if !logged? %>
  <%= controller.redirect_to root_path %>
<% end %>
<body>
  <%= render 'layouts/nav' %>

  <div id="main-content" class="container">
    <div class="row center">
      <%= form_with(scope: :note, model: [ :user, @note ], class: 'col-xs-6', local: true) do |form| %>
        <% if @note.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2>
              <%= pluralize(@note.errors.count, "error") %> prohibited
              this note from being saved:
            </h2>
            <ul>
              <% @note.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title, class: 'col-xs-12' %>
        </p>

        <p>
          <%= form.label :text %><br>
          <%= form.text_area :text, class: 'col-xs-12', style: 'height: 200px' %>
        </p>

        <p>
          <%= form.label :image %><br>
          <%= image_tag(@note.image.url, alt: 'Image', class: 'col-xs-12 center', style: 'padding-bottom: 1rem;') if @note.image? %>
          <%= form.file_field :image, class: 'col-xs-12'%>
        </p>

        <p>
          <%= form.submit %>
        </p>

      <% end %>

    </div>
    <div class="row center">
      <%= link_to 'Back', user_notes_url(params[:user_id]), class: 'btn btn-info' %>
    </div>
  </div>
</body>
