<% if !logged? %>
  <%= controller.redirect_to root_path %>
<% else %>
  <div class="col-md-9 col-lg-9 right_col">
    <% notes = find_notes(params[:user_id]) %>    
    <% notes.each_pair do |user_id, user_notes| %>
      <!-- Row with title -->
      <div class="row page-title">
        <div class="title_left">
          <div class="x_panel">
            <% if user_id == params[:user_id].to_i %>
              <h3 style="margin: 9px 0"><i class="fa fa-sticky-note"></i> Your notes</h3> 
            <% else %>
              <% user = get_user_name(user_id) %>
              <h3 style="margin: 9px 0"><i class="fa fa-sticky-note"></i>
                <%= user.user_name %> Notes
              </h3> 
            <% end %>
          </div>
        </div>
      </div>
      <!-- / Row with title --> 
        <div class="row" style="padding-left: 60px">
          <% user_notes.each do |note| %>
            <div class="note col-xs-12 col-sm-6 col-md-3" style="height: 200px">
              <div class="row">
                <% if note.image.url %>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div >
                      <span>
                        <%= image_tag(note.image.url, alt: 'Image', class: 'note-image') if note.image? %>
                      </span>
                    </div>
                  </div>
                <% end %>  
                <div class="note-title col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-left: 20px">
                  <%= note.title %>
                </div>
              </div>
              <div class="row" style="height: 30%">                
                <div class="note-text col-xs-12 col-lg-12 col-md-12">
                  <%= note.text %>
                </div>
              </div>
              <div class="row" style="padding-left:25px; padding-right: 25px ">
                
                  <div class="col-xs-4 center">
                    <%= link_to 'Show', { controller: 'notes', action: 'show', id: note }, class: 'btn btn-default' %>
                  </div>
                  <div class="col-xs-4 center">
                    <%= link_to 'Edit', { controller: 'notes', action: 'edit', id: note }, class: 'btn btn-default' %>
                  </div>
                  <div class="col-xs-4 center">
                    <%= link_to 'Delete', { controller: 'notes', action: 'destroy', id: note }, class: 'btn btn-danger',
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                  </div>
                
              </div>
            </div>

          <% end %>
          <% if user_id == params[:user_id].to_i %>
            <div class="note col-xs-12 col-sm-6 col-md-3" style="height: 200px; ">
              <div class="row" style="font-size: 30px; display: flex; justify-content: center; padding-top:85px">                  
                  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_user_note_url %>  
              </div>
            </div>
          <% end %>
        </div>      
    <% end %>
    <% if user_session_is_admin? %>
      <div class="row center">
        <%= link_to 'Back', users_url, class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
<% end %>