<body>
  <header class="container-fluid">
    <div class="center">
      <h1>Show note</h1>
    </div>
  </header>
  <div id="main-content" class="container">
    <div class="row center">
      <%= form_with(model: [ :user, @note ], class: 'col-xs-6', local: true) do |form| %>
        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title, class: 'col-xs-12', :disabled => true %>
        </p>

        <p>
          <%= form.label :text %><br>
          <%= form.text_area :text, class: 'col-xs-12', :disabled => true, style: 'height: 200px'%>
        </p>

      <% end %>

    </div>
    <div class="row center col-xs-12">
      <%= link_to 'Edit', edit_user_note_url, class: 'btn btn-default with-margin' %>
      <%= link_to 'Back', user_notes_url(params[:user_id]), class: 'btn btn-info' %>
    </div>
  </div>
</body>
